@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
#site {
  overflow-y: scroll !important;
}

.output_subarea {
  max-width: unset !important;
}

.v-application--wrap > div:nth-child(2) > div:nth-child(2) {
  display: none !important;
}

.v-sheet {
  row-gap: unset !important;
}

.v-expansion-panel {
  margin-top: 0 !important;
}
.v-expansion-panel .v-expansion-panel-content > div {
  padding: 1em !important;
}

.v-text-field__details,
.v-messages {
  display: none;
}

.v-input--selection-controls {
  margin: 0;
}
.v-input--selection-controls .v-input__slot {
  margin: 0;
}

.solara-autorouter-content {
  overflow-y: scroll;
  height: calc(100vh - 64px - 12px);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion {
  gap: 8px;
}
.accordion .accordion-item .accordion-header .accordion-header-content {
  display: flex;
  align-items: center;
}
.accordion .accordion-item .accordion-header .accordion-header-content .accordion-header-icon {
  width: 20px;
  margin-right: 12px;
  font-family: monospace;
}
.accordion .accordion-item .accordion-header .accordion-header-content .accordion-header-text {
  margin-bottom: -2px;
}
