.parameters-configuration-step .relaxation-selector {
  margin-bottom: 12px;
}
.parameters-configuration-step .relaxation-selector .relaxation-switch {
  margin-bottom: 12px;
}
.parameters-configuration-step
  .relaxation-selector
  .v-btn__content
  .v-icon--left {
  margin-left: 0;
}
.parameters-configuration-step .properties-selector .v-input {
  margin-bottom: 12px;
}
.parameters-configuration-step .calculation-settings .basic-settings {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}
.parameters-configuration-step .calculation-settings .basic-settings .control {
  align-items: center !important;
}
.parameters-configuration-step
  .calculation-settings
  .basic-settings
  .control
  .control-label {
  text-align: right;
  width: 140px;
}
@media (max-width: 767px) {
  .parameters-configuration-step
    .calculation-settings
    .basic-settings
    .control
    .protocol-selector {
    display: flex;
    flex-direction: column;
  }
}
