.parameters-configuration-step
  .relaxation-selector
  .v-btn__content
  .v-icon--left {
  margin-left: 0;
}
.relaxation-selector {
  margin-bottom: 12px;
}
.relaxation-selector .relaxation-switch {
  margin-bottom: 12px;
}
.properties-selector .v-input {
  margin-bottom: 12px;
}
.parameters-category-selector {
  padding: 0;
  width: 200px;
}
.control-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
  margin-top: 8px;
}
.control {
  align-items: center !important;
}
.control .control-label {
  text-align: right;
  width: 140px;
}
.magnetization-input-selector button {
  width: fit-content !important;
}
@media (max-width: 767px) {
  .protocol-selector,
  .magnetization-input-selector {
    display: flex;
    flex-direction: column;
  }
  .magnetization-input-selector button {
    width: 100% !important;
  }
}
.toggle-buttons button {
  width: 115px !important;
}
.pseudo-cutoffs {
  align-items: baseline !important;
}
.pseudo-cutoffs .cutoffs-label {
  text-align: right;
  width: 140px;
}
.pseudo-cutoffs .cutoff-input {
  max-width: 102px !important;
}
.pseudos-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.pseudos-list .solara-file-drop {
  margin: 0px;
  height: fit-content;
}
.pseudo-uploader-label {
  width: 50px;
  text-align: right;
}
.pseudo-uploader-filedrop {
  width: 100%;
  max-width: 320px;
}
.pseudo-family-link {
  margin-top: 8px;
}
