.workbench {
  padding: 0;
}
.workbench .workbench-body {
  margin-top: 0;
}
@media screen and (max-width: 991px) {
  .workbench .v-tabs--vertical {
    flex-direction: column !important;
  }
}
.workbench .v-tab {
  justify-content: start;
}
.workbench .v-tab .v-btn.tab-close-button {
  min-width: unset;
  height: unset;
}
.workbench .v-tab .v-btn.tab-close-button:hover {
  background-color: transparent !important;
}
